@import url('https://fonts.googleapis.com/css?family=Francois+One|Merriweather+Sans');

/*font-family: 'Merriweather Sans', sans-serif;
font-family: 'Francois One', sans-serif;*/

/* Color Palette */
.color-1 {
    background: #d5762c;
}

.color-2 {
    background: #d022c7;
}
.color-3 {
    background: #14d630;
}
.color-4 {
    background: #3e007d;
}
.color-5 {
    background: #c33232;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url(../background/carbon-fiber.png);
}
.pattern-2 {
    background: url("../background/dark_brick_wall.png")    ;
}
.pattern-3 {
    background: url("../background/ep_naturalblack.png")    ;
}
.pattern-4 {
    background: url("../background/gray_sand.png")    ;
}
.pattern-5 {
    background: url("../background/stardust.png")    ;
}

/* Imagery */
/* Score: 0, 0, 1, 2*/
.imagery-1 img {
    border: none;
    box-shadow: 0 0 10px #333;
}

/* Icons */
.icon-1 img {
    border: none;
}

/* Navigation */
a:link,
a:visited {
    color: #d022c7;
    text-decoration: none;
}

a:focus {
 background: #3e007d;   
}

a:hover,
a:active {
    border-bottom: 4px solid #d5762c;
}

/*font-family: 'Merriweather Sans', sans-serif;*/
/*font-family: 'Francois One', sans-serif*/

/* Typography */
h1 {
    font-family: 'Francois One', sans-seri;
    color: #d5762c;
}


h3 {
    font-family: 'Merriweather Sans', sans-serif;;
    font-style: italic;
    color: darkgray;
}

p {
    line-height: 1.5em;
}
