@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1 {
    background: #c9d661;
}

.color-2 {
    background: #2c39d5;
}

/* Textures or Patterns*/
.pattern-1 {
    background: url("../img/topography.png")    ;
}

/* Imagery */
/* Score: 0, 0, 1, 2*/
.imagery-1 img {
    border: none;
    box-shadow: 0 0 10px #333;
}

/* Icons */
.icon-1 img {
    border: none;
}

/* Navigation */
a:link,
a:visited {
    color: aquamarine;
    text-decoration: none;
}

a:focus {
 background: red;   
}

a:hover,
a:active {
    border-bottom: 4px solid aquamarine;
}


/* Typography */
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: aqua;
}


h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    color: darkgray;
}

p {
    line-height: 1.5em;
}
